/***** GENERAL *****/

a{
    text-decoration: none;
}

/***** HEADER *****/


.material-symbols-outlined.brand{
    font-size: 45px;
}
.burger{
    color: white;
    font-size: 37px;
}


/***** BALANCE CARD *****/
.val-ganancias{
    color: green;
}

.val-gastos{
    color: red;
}

/***** OPERACIONES CARD *****/
.op-btn{
    width: 180px;
}

.op-img{
    max-width: 450px
}

.expense{
    color: red;
}

.expense::before{
    content: '-$';
}

.income{
    color: green;
}

.income::before{
    content: '+$';
}

.s-link{
    font-size: 0.9rem;
}

/***** CATEGORIAS CARD *****/

#categorias{
    max-width: 750px;
}