/***** GENERAL *****/

a{
    text-decoration: none;
}

/***** HEADER *****/
.navbar-nav{
    flex-direction: row;
}

.list-nav{
    align-items: center;
}

.material-symbols-outlined.brand{
    font-size: 45px;
}


/***** BALANCE CARD *****/
.val-ganancias{
    color: green;
}

.val-gastos{
    color: red;
}

/***** OPERACIONES CARD *****/
.op-btn{
    width: 180px;
}

.op-img{
    max-width: 450px
}

/***** CATEGORIAS CARD *****/

#categorias{
    max-width: 750px;
}