/***** GENERAL *****/

a{
    text-decoration: none;
}

.cards{
    max-width: 750px;
}

/***** HEADER *****/
.navbar-nav{
    flex-direction: row;
}

.list-nav{
    align-items: center;
}

.material-symbols-outlined.brand{
    font-size: 45px;
}

/***** BALANCE LAYOUT *****/

/***** BALANCE CARD *****/
.val-ganancias{
    color: green;
}

.val-gastos{
    color: red;
}

/***** OPERACIONES CARD *****/
.op-btn{
    width: 180px;
}

.op-img{
    max-width: 450px
}

.expense{
    color: red;
}

.expense::before{
    content: '-$';
}

.income{
    color: green;
}

.income::before{
    content: '+$';
}

.balance::before{
    content: '$';
}

.s-link{
    font-size: 0.9rem;
}

/***** CATEGORIAS CARD *****/

.s-tag{
    font-size: 0.8rem;
    color: rgb(0, 129, 250);
    border-radius: 5px;
}